In [17]:
print("Enter your name:")
somebody = input() # 값을 입력받아 somebody에 저장
print("Hi", somebody, "How are you today?")

Enter your name:
32.3
Hi 32.3 How are you today?

In [18]:
print("Hello World", "Hello Again!!!") # , 사용

Hello World Hello Again!!!

In [19]:
temperature = float(input("온도를 입력하세요 :")) # 입력 시 바로 형 변환
print(temperature)
print(type(temperature))

온도를 입력하세요 :32.3
32.3
<class 'float'>

In [20]:
print("변환하고 싶은 섭씨 온도를 입력해주세요 : ")
c = float(input()) # 섭씨 온도 입력

f = c*1.8 + 32 # 화씨 온도로 변환
print("섭씨 온도 :", c)
print("화씨 온도 :", f)

변환하고 싶은 섭씨 온도를 입력해주세요 :
32.3
섭씨 온도 : 32.3
화씨 온도 : 90.13999999999999

In [21]:
print(1, 2, 3)
print("a" + " " + "b" + " " + "c")
print("%d %d %d" % (1,2,3))
print("{} {} {}".format(1,2,3))

1 2 3
a b c
1 2 3
1 2 3

In [22]:
print("I eat %d apples." % 3)
print("I eat %s apples." % "five")
number = 3; day = 'three'
print("I ate %d apples. I was sick for %s days." % (number, day))
print("Product: %s, Price per unit: %f." % ("Apple", 5.243))

I eat 3 apples.
I eat five apples.
I ate 3 apples. I was sick for three days.
Product: Apple, Price per unit: 5.243000.

In [23]:
#str.format()
age = 25; name = 'Taewan Kim'
print("I'm {0} years old.".format(age))
print("My name is {0} and {1} years old.".format(name,age))
print("Product: {0}, Price per unit: {1:.3f}.".format("Apple", 5.243))

I'm 25 years old.
My name is Taewan Kim and 25 years old.
Product: Apple, Price per unit: 5.243.

In [24]:
#padding 여유 공간 지정
print("Product: %5s, Price per unit: %.5f" % ("Apple", 5.243))
print("Product: {0:5s}, Price per unit: {1:.5f}".format("Apple", 5.243))

Product: Apple, Price per unit: 5.24300
Product: Apple, Price per unit: 5.24300

In [25]:
# naming 해당 표시할 내용을 변수로 표시하여 입력
print("Product: %(name)5s, Price per unit: %(price)5.5f" %{"name":"Apple", "price":5.243})

Product: Apple, Price per unit: 5.24300

In [26]:
# list
colors = ['red', 'blue', 'green']
print(colors[0]) # red
print(colors[2]) # green
print(len(colors)) # 3

red
green
3

In [29]:
# slicing
# list의 값들을 잘라서 쓰는 것
# list의 주소 값을 기반으로 부분 값을 반환

cities  =['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
print(cities[0:6]) # a 변수의 0부터 5까지
print(cities[:]) # a 변수의 처음부터 끝까지
print(cities[-50:50]) # 범위를 넘어갈 경우 자동으로 최대 범위를 지정
print(cities[::2]) # 2칸 단위로
print(cities[::-1]) # 역 슬라이싱

['서울', '부산', '인천', '대구', '대전', '광주']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '인천', '대전', '울산']
['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

In [30]:
# list의 연산
color = ['red', 'blue', 'green']
color2 = ['orange', 'black', 'white']
print(color+color2)
len(color) # 리스트 color의 길이
color[0] = 'yellow' # 0번째 리스트의 값을 변경
print(color*2) # color 리스트 2회 반복
'blue' in color2
total_color = color + color2

['red', 'blue', 'green', 'orange', 'black', 'white']
['yellow', 'blue', 'green', 'yellow', 'blue', 'green']

In [31]:
# list 추가와 삭제
color.append('white') # list에 'white' 추가
color.extend(['black']) # list에 새로운 list 추가
color.insert(0,'orange') # 0번째 주소에 'orange' 추가
print(color)

color.remove('white')
del color[0] # list에 'white' 삭제
print(color) # 0번째 주소 list 객체 삭제

['orange', 'yellow', 'blue', 'green', 'white', 'black']
['yellow', 'blue', 'green', 'black']

In [32]:
# 다양한 Data Type이 하나의 list에 사용
a = ["color", 1, 0.2]
color = ['yellow', 'blue', 'green', 'black', 'purple']
a[0] = color # list 안에 list도 입력 가능
print(a)

[['yellow', 'blue', 'green', 'black', 'purple'], 1, 0.2]

In [33]:
# list memory
a = [5,4,3,2,1]
b = [1,2,3,4,5]
b = a
print(b)

a.sort()
print(b)

b = [6,7,8,9,10]
print(a, b)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5] [6, 7, 8, 9, 10]

In [34]:
# 패킹과 언 패키징
# 패킹 : 한 변수에 여러 개의 데이터를 넣는 것
# 언패킹 : 한 변수의 데이터를 각각의 변수로 반환

t = [1,2,3] # 1,2,3을 변수 t에 패킹
a, b, c = t # t에 있는 값 1,2,3을 변수 a,b,c,에 언패킹
print(t, a, b, c)

[1, 2, 3] 1 2 3

In [36]:
# 이차원 리스트
kor_score = [79, 79, 85, 60]
math_score = [87, 57, 98, 75]
eng_score = [67, 57, 68, 90]
midterm_score = [kor_score, math_score, eng_score]
print(midterm_score)
print(midterm_score[1][3])

[[79, 79, 85, 60], [87, 57, 98, 75], [67, 57, 68, 90]]
75